<head>
    <meta charset="utf-8">
    <title>Pizzeria Sobolito</title>
    <link rel="stylesheet" href="home.css">
    
    
</head>

<header>
    <h1> <span>Pizzeria Sobolito </span></h1>
    
    <nav>
         <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="kontakt.html">Kontakt</a></li>
              <li><a href="zamowienia.html">Zamowienia</a></li>
              <li><a href="gdzie_jestesmy.html">Gdzie jestesmy ?</a></li>
         </ul>
    </nav>
</header>


<body>






<center>
    <div id="container">
        
        <div id="footer">Created by Sobol.
          <li><a href="home.html">Home</a></li>
         <li><a href="kontakt.html">Kontakt</a></li>
         <li><a href="zamowienia.html">Zamowienia</a></li>
         <li><a href="gdzie_jestesmy.html">Gdzie jestesmy ?</a></li>
      </div>
    </div>
</center>

</body>

