body {
    width: 100%;
    margin: 0 auto;
    background: url(gradient.png),no-repeat, fixed, center;
    background-size: cover;
    
  }


  
  
  
  

  header{
    width: 100%;
    
  }

  h1{
    position:absolute;
    padding: 3px;
    float: left;
    margin-left: 4%;
    margin-top: 1%;
    font-family: 'Alfa Slab One', cursive;
    color: #3f3f3f;
  }


  ul {
    width: auto;
    float:right;
    margin-top: -2px;
  }

  li{
    display: inline-block;
    padding: 15px 30px;
  }

  a{
    text-align: center;
    color: rgb(241, 212, 255);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
  }


  a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
  }

 #footer {
  position: absolute;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 98.98%;
  /* Height of the footer*/ 
  height: 60px;
  background: grey;
}


p{
  color: rgb(0, 0, 0);
}

div{
  text-align: center;
}